.Detailed {
    color: white;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
  }

.Home-button {
  position:fixed;
  top: 2%;
  left: 2%;
  padding: 10px;
}



.Submit-button {
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 10px;
}

.Detailed-Header {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.Questionnaire {
  padding: 5%;
}

.Detailed-questionnaire {
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #282c34;
  border: 2px solid white;
  min-height: 100vh;
}

.Button-Group {
  margin-top: 2%;
  margin-bottom: 5%;
}

.Answer {
  border: 1px solid white;
}