.progressbar{
    position:center;
    overflow: hidden;
    width: 350px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;

}

.progress{
    font-weight: 600;
    position: absolute;
    left: 25%;
    top: 25%;
    transform: (-50%, -50%);
    color:black;
}