.App {
  text-align: center;
}


.Home-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 5%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Questionnaire-Selection {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  padding-top: 5%;
  color: white;
}

.Question-Rater {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  padding-top: 5%;
  color: white;
}